.App {
  .default-color {
    background-color: #33b5e5 !important;
  }
  .btn-default {
    background-color: transparent !important;
  }
  .loginWrapper {
    margin: 10% auto;
  }
  .form-header {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
      0 4px 15px 0 rgba(0, 0, 0, 0.15);
    color: #fff;
    text-align: center;
    margin-bottom: 3rem;
    padding: 1rem;
  }
  .loginCol {
    margin: 0 auto;
  }
  .navbar .nav-item .nav-link.signOut {
    padding-left: 100px;
  }
  .navbar .nav-item .nav-link.signOut button {
    box-shadow: none;
    padding: 0px;
  }
  .fa-sign-out-alt {
    font-size: 18px;
  }
  .modal {
    .fa-calendar {
      font-size: 28px;
    }
    .date {
      margin-left: 10px;
    }
  }
  .roomNames {
    font-weight: bold;
  }
  .authError {
    color: red;
    text-align: center;
    margin-top: -24px;
  }
  .message{
    color: red;
    text-align: center;
    height:24px;
  }
  .hello{margin: 10px 0px 0px;
    font-size: 20px;}
    .bold{font-weight: 500}
    .fc-content{
     margin-left:2px;
    }
    .fc-content span{
      width:100%;
      display: inline-block;
    }
    .fa-clock{
      font-size:25px;
    }
    .fc-toolbar.fc-header-toolbar{
      margin-top: 10px;
    }
    footer.page-footer{
    bottom: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    }
    .calendarWrapper{
    margin-bottom: 100px;
    }
    .fc-scroller.fc-time-grid-container {
      height: auto!important;
      overflow-y: auto;
  }
  .roomsButtons{
    width:100%;
  }
  .roomsButtons button{opacity: 0.5}
  .roomsButtons button:hover{opacity: 0.75}
  .roomsButtons button.active{opacity: 1}
}
